section.hero-unit {
  @include responsive-padding("vert", $base-padding);
  position: relative;
  overflow: hidden;
  .grid-container {
    width: 100%;
  }
  .grid-x {
    position: relative;
    z-index: 10;
  }
  &.bg-video {
    background-color: $black;
  }
  .hero-video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
  .overlay {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
  }
}

@include breakpoint(medium) {
  section.hero-unit.full-height,
  section.hero-unit.fixed-height {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: rem-calc(850);
    padding: 0;
  }

  body.admin-bar section.hero-unit.full-height {
    height: calc(100vh - 132px);
  }

  .hero-unit.full-height {
    height: calc(100vh - 100px);
  }
}
