.site-header {
  padding: $component-margin * 0.75 0;
  .grid-x {
    width: 100%;
  }
  .brand {
    width: rem-calc(150);
    @include breakpoint(small only) {
      max-width: rem-calc(100);
    }
  }
  .menu li.current_page_parent a,
  .menu li.current_page_item a {
    color: $menu-item-color-active;
  }
  @include breakpoint(medium) {
    align-items: center;
    display: flex;
    height: rem-calc(100);
    padding: 0;
    .grid-container {
      width: 100%;
    }
  }
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a:after {
  display: none;
}

.hamburger {
  display: block;
  position: relative;
  width: rem-calc(17);
  height: rem-calc(10);
  border: none;
  background: none;
  outline: none;
  position: relative;
  top: 0;
  cursor: pointer;
}

.hamburger-line {
  display: block;
  background: $primary-color;
  width: 100%;
  height: rem-calc(2);
  position: absolute;
  left: 0;

  &1 {
    top: 0;
  }
  &2 {
    top: 50%;
  }
  &3 {
    top: 100%;
  }
}
